h1{
	text-align: center;
}
.table{
	display: table;
	border: 1px solid black;
	width: 100%;
}

.tableHeader {
	display: table-header-group;
	border: 2px solid gray;
	padding: 5px;
	font-size: 30px;
}

.tableHeader .headerTitle{
	display: table-cell;
	font-size: inherit;
}

.tableBody{
	display: table-row;
}

.tableCell{
	display: table-cell;
}


